<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="{%url 'home'%}"><i class="fas fa-star-half">Rate</i></a>

  <form class="form-inline" action ="{%url 'search_results'%}" role="search">
    <div class="md-form form-sm my-0">
      <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search Project" name="project"
        aria-label="Search">
    </div>
  </form>
<a href="#"><i class="fas fa-sign-in-alt" style="color:white">&nbsp;Log in</i></a>
</nav>