{% extends 'base.html'%}
{%load static%}
{%block content%}
<!-- Card -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="card testimonial-card profile">

  <!-- Background color -->
  <div class="card-up indigo lighten-1"></div>

  <!-- Avatar -->

  <div class="avatar mx-auto white mt-3">
       {%if user.profile%}
   <img src="{{user.profile.profile_pic.url}}"  alt="profile pic" class="rounded-circle" >
      {%else%}
      <img src="{%static 'images/kent.jpg'%}" class="rounded-circle" alt="profile pic">
      {%endif%}
  </div>

<hr>
  <!-- Content -->
  <div class="card-body">
    <!-- Name -->
    <h4 class="card-title">{{user.username}}</h4>
       <p class="card-title colo text-muted font-weight-light">{{user.email}}</p>
      <p class="card-title colo text-muted font-weight-light">{{user.profile.phone_number}}</p>
    <hr>
    <!-- Quotation -->
    <p >Bio: &nbsp; {{user.profile.bio}}
    </p>
      <a href="{%url 'update_profile'%}"><button type="button" class="btn btn-success" style="float:right">Update Profile</button>
</a>
  </div>

</div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!-- Card -->
{%endblock%}