{% extends 'base.html'%}
{%block content%}
<main class=" py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
         {%if projects%}
          <div class="results text-center">
              <h3>Found {{projects|length}} of searched term {{message}}</h3>
            {%else%}
            <h3> Found 0 projects  for the searched term {{message}}</h3>
          </div>
            {%endif%}
        </div>
      </div>
      <!--end of row one-->
      <div class="row">
         {% if projects%}
            {% for project in projects%}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4 two">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay img-fliud img-responsive">
        <img src="{{project.project_pic.url}}" class="img-responsive img-fluid">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>
      </a>

      <h4 class="h4 mb-4">{{project.title}}</h4>

      <p class="font-weight-normal"> {% autoescape on %}
        {{project.description|safe}}
        {% endautoescape %}
      </p>
      <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

      <a class="btn btn-success">Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

        </div>
        {%endfor%}
        {%endif%}
    </div>
    </div>

</main>
{%endblock%}